<div class="search-form mt-10">
  <form method="POST" action="">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Tu khoa</label>
      <input
        type="text"
        class="form-control"
        id="search-input"
        name="query"
        placeholder="Nhap tu khoa"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Gioi tinh</label>
      <select
        type="text"
        class="form-control"
        id="gender-input"
        name="gender"
        placeholder="Nhap tu khoa"
      >
        <option value="">Chon gioi tinh</option>
        <option value="male">Nam</option>
        <option value="female">Nu</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Tim kiem</button>
  </form>
</div>